body {
    font-family: "Comic Sans MS", sans-serif;
    background-color: #0571d3;
    margin: 0;
    color: white;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


header {
    background-color: #202224;
}

header h2 {
    margin: auto;
    color: white;
    text-align: center;
}
header h1 {
    display: flex;
    align-items: center;
    background-color: #545454;
    font-size: 32px;
    margin: 0;
    color: white;
    padding: 10px 30px;
}

header h1 a {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    padding-left: 5%;
    justify-content: center;
}

header h1 a:hover {
    color: lightgray;
}

.top-banner {
    background-color: #2a2a2a;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #4d4d4d;
    padding: 10px 30px;
}

.navbar img {
    width: 55px;
    margin-right: 15px;
}

.nav-links {
    margin-left: auto;
}

.nav-links a {
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #2a2a2a;
    border-radius: 4px;
}


.home-hero {
    text-align: center;
    padding: 30px;
}

.home-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.home-desc {
    background-color: rgba(0,0,0,0.5);
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
}


.archetypes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.archetype-box {
    background-color: #939393;
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.archetype-box img {
    border: 2px solid #000;
    background-color:#545454;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 75%;
}


.archetype-full {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

.archetype-text {
    width: 60%;
    background-color: #e3e3e3;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    font-size: 23px;
    text-align: justify;
}

.archetype-examples {
    width: 35%;
}

.archetype-examples img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}


.page-title {
  text-align: center;
  background-color: gray;
  padding: 15px;
  color: #202224;
  margin-bottom: 25px;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.card-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.card-controls select, .card-controls input {
  padding: 10px;
  border: 2px solid #783f04;
  border-radius: 6px;
  font-size: 16px;
  width: 200px;
}


.cards-grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card-box {
  text-align: center;
  background-color: #fff8f0;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #783f04;
}

.card-image {
  width: 100%;
  height: 160px;
  background-color: #d9d9d9;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 8px;
}


.arena-table {
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
    font-size: 1.1rem;
    background: #ffffffee;
    border-radius: 10px;
    overflow: hidden;
}

.arena-table th {
    background: gray;
    color: white;
    padding: 12px;
    text-align: left;
}

.arena-table td {
    padding: 12px;
    color:#000;
    border-bottom: 1px solid #ddd;
}

.arena-table tr:nth-child(even) {
    background: #f5f5f5;
}

.arena-icon {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    object-fit: cover;
}

.page-title {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 700px) {
    .arena-table {
    font-size: 0.95rem;
    }
    .arena-icon {
    width: 40px;
    height: 40px;
    }
}


footer {
    background-color: #4d4d4d;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: lightgray;
    font-weight: bold;
}
