body {
    font-family: "Comic Sans MS", sans-serif;
    background-color: #0571d3;
    color: #5b2c0f;
    margin: 0;
}


header {
    background-color: #545454;
    color: white;
    padding: 1px;
    text-align: center;
}

header h1 {
    text-align: left;
    /* text-indent: 10%; */
}

header h2 {
    background-color: #202224;
    margin: auto;
    padding: 5px;
}

nav {
    background-color: #f4b183;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #783f04;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
}

nav a:hover {
    background-color: #783f04;
    color: white;
    border-radius: 5px;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff8f0;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4b183;
    color: white;
}

footer {
    background-color: #545454;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
footer a {
    color: #ffd966;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}